{% extends 'header.html' %}
{% block title %}About Us{% endblock %}
{% block content %}
<div class="container-fluid">
	<h3>Auction Mart</h3>
	<p>
		<b>Auction:</b></br>
 			An auction is a sale in which a seller presents his product on a public platform/ forum.</br>
 			The selling price in an auction is determined by the bids made by interested buyers.</br>
 			The price they bid is based on their own valuation of, and need for, the product.</br>
 			The product is sold to the highest bidder.</br>
 			A potential buyer participates by bidding on an item that a seller has listed.</br>
 			The person who has offered the highest bid at close of auction wins the right to purchase the item at that price.</br>
		<b>Bid:</b></br>
 			A bid is the amount of money proffered for an item that has been put on sale in an auction.</br> The bidder competes with other potential buyers, keeping in mind that the buyer with the highest bid is obliged to complete the purchase with the seller. </br>In other words, your bid tells other buyers, "I want to buy this item at this price."</br>
		<b>Win:</b></br>
 			You win an auction by placing the winning (read highest) bid and obtaining the item on auction.</br> The person with the highest bid is the winner of the auction.</br> Now that you're familiar with how an auction generally works.

	</p>
</div>
{% endblock %}