{% extends "header.html" %}

{% block content %}

<h2> My bids </h2>
{% if my_bids_list %}
<ul class="my-bid-list">
    {% for bid in my_bids_list %}
        <li class="my-bid-li"><a class="my-bid-link" href="{% url 'product_detail' bid.product_id.id %}">{{ bid.product_id.product_name }}</a>
            <hr>
            <div class="my-bid-label">
                My last bid: ₹{{ bid.bid_amount }}/-
                <div class="my-bid-date">({{ bid.created }})</div>
            </div>
            {% if bid.product_id.is_active %}
                <div class="my-bid-status-active">Pending</div>
            {% else %}
                {% if bid.product_id.winner and bid.product_id.winner == user %}
                    <div class="my-bid-status-won">Won for ₹{{ bid.bid_amount }}/-</div>
                {% else %}
                    <div class="my-bid-status-lost">You lost the bid.</div>
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% else %}
    <h4>No bids are available.</h4>
{% endif %}

{% endblock %}
