{% extends 'productlist_base.html' %}
{% load static %}

{% block name %}
    {% if product_list %}
        <center>
            <h3>Live Auctions</h3>
        </center>
    {% else %}
        <center>
            <h2 style="text-align: center; color: red">No Auctions!!</h2>
        </center>
    {% endif %}
{% endblock %}

{% block content %}
    <br><br>
    <div class="row" style="display: flex; justify-content: center;">
        {% if product_list %}
            {% for product in product_list %}
                <div class="col-md-3">
                    <div class="card card-product-grid">
                        <center>
                            <a href="{% url 'product_detail' product.id %}" class="img-wrap"><img src="{{ product.image.url }}" alt="Image" width="250px" height="250px"></a>
                        </center>
                        
                        <figcaption class="info-wrap">
                            <center>
                                <div >{{ product.product_name }}></div>
                                <div class="price mt-1">₹ {{ product.minimum_price }}/-</div>
                            </center>
                        </figcaption>
                    </div>
                    
                </div>
            {% endfor %}
        
        {% endif %}
    </div>

        <nav class="mt-4" aria-label="Page navigation sample">
            {% if product_list.has_other_pages %}
                <ul class="pagination justify-content-center">
                    {% if product_list.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{product_list.previous_page_number}}"><<</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#"><<</a></li>
                    {% endif %}

                    {% for i in product_list.paginator.page_range %}
                        {% if product_list.number == i %}
                            <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                        {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if product_list.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{product_list.next_page_number}}">>></a></li>
                    {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">>></a></li>
                    {% endif %}
              </ul>
            {% endif %}
        </nav>
    
{% endblock %}